.Lmar{
    margin: 0px;
}
.Lvh{
    height: 7vh;
}
.Lvh2{
    height: 6.5vh;
}
.Lwid{
    width:7%
}
.ontop{
    z-index: 50;
    position: relative;
}
.cwid{
    width:50vw;
}
.lwid{
    width: 30vw;
}
div.ant-select-selector{
    padding: 0px 0px;
}
.shadowcon{
    box-shadow: 0 3.5px 2px -2px rgba(0, 0, 0, .2);
}