.mvh{
    height: auto;
    z-index: 100;

}
.mMar{
    margin: 0px;
}
.lwid{
    width:12%
}
.bcc{
    border-color: #afacac;
}
.bcc:hover{
    border-color: black;
}

.shadowcon{
    box-shadow: 0 3.5px 2px -2px rgba(0, 0, 0, .2);
}
.bord{
    border-radius: 13px;

}