.navcat{
    display: grid;
    grid-template-columns: 185px 185px 185px 185px 188px ;
    grid-template-rows: 450px;
    grid-gap: 2%;
    
    position: relative;
    width: 100%;
    z-index: 500;
    /* padding-left: 10%; */
    
}
.Cmar{
    margin: 0px;
}
.Ntop{
    position: absolute;
    z-index: 500;
}
.slider {
	overflow-y: hidden;
    max-height: 500px; 
	transition-property: all;
	transition-duration: .6s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.slider.closed {
    max-height: 0;
    opacity: 0;

    
}
