.ct{
    display: grid;
    grid-template-columns: 150px 150px 150px 500px;
    grid-template-rows: 450px;
    grid-gap: 1.5%;
    position: relative;
    width: 100%;
    z-index: 500;  
}
.inGrd{
    display:grid;
    grid-template-columns: 230px 230px;
    grid-template-rows:200px 200px;
    grid-gap:3%;

}
.b{
    background-color: papayawhip
}
.Wtop{
    position: absolute;
    z-index: 50;
}
.Wmar{
    margin: 0px;
}
.slider {
	overflow-y: hidden;
    max-height: 500px; 
	transition-property: all;
	transition-duration: .6s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.slider.closed {
    max-height: 0;
    opacity: 0;

    
}