.leftright{
    background-color: white;
    position: relative;

     }
   .arrowcont{
       top:30%
   }
   .nos{
       margin: 0px;
   }
   .resdivider{
       margin-top: 5vh;
   }
   .smallwid{
        width:97%
   }