.Collapsible__contentInner{
    text-align: center;

}

span.Collapsible__trigger.is-closed{
    width: 100%;

}
span.Collapsible__trigger.is-open{
    width: 100%;


}
.Collapsible{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.fH{
    height: auto;
}
.fW{
    width: 92%;
}
.fnos{
    margin: 0px;
}
.subtn{
    width: 23%;
}
.colcon{
    background-color: white;
    text-align: center;
}