.MCgrid-Container{
    height: 40vh;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,32%);
    grid-template-rows: 100%;
    column-gap: 2%;
}
.MCgrid-item{
    background-color: pink;
    position: relative;
    cursor: pointer;
}