.gridcontainer2{
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(270px,270px) );
    grid-gap: 20px; */
    /* column-gap: 10px;
    row-gap: 10px; */
    grid-template-columns: repeat(3,32%);
    grid-template-rows: repeat(auto, 570px);
    grid-template-rows: auto;
    column-gap: 2%;
    row-gap: 30px;
    grid-auto-flow: row;
    justify-items: center;
    
}
.cot{
    background-color: chartreuse;
    width: 100%;
    height: 60%;
}
.cell{
    background-color: aqua;
    width: 100%;
    height: 601px;

    
  
    
}